<!-- {{allBlogs.length>0}} -->
<div class="container" style="text-align:center">
  <div class="row" style="text-align:center">
    <div class="col-md-12" style="font-size:22px">All Blogs</div>
    <br><br><br><br>
  </div>
  <div class="row" style="text-align:center" *ngIf='allBlogs?.length>0'>
    <div *ngFor="let blog of allBlogs" class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{blog.title | uppercase}}</h4>
        </div>

        <div class="card-body">
          <p class="card-text">{{blog.description}}</p>
        </div>

        <div class="card-footer">{{blog.created | date}}
          <br><br> by {{blog.author}} <br><br>
          <a [routerLink]="['/blog',blog.blogId]" class="btn btn-primary" role="button">Read</a>
        </div>

      </div>
      <br><br><br>
    </div>
  </div>
</div>

